body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
}
* {
  box-sizing: border-box;
}
.clf:before,
.clf:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.out {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.out .box {
  width: 100%;
  height: 400%;
}
.out .box li {
  width: 100%;
  height: 25%;
}
.out .box li:nth-child(1) {
  background: url(../images/bg1.jpg) no-repeat;
}
.out .box li:nth-child(2) {
  background: url(../images/bg2.jpg) no-repeat;
}
.out .box li:nth-child(3) {
  background: url(../images/bg3.jpg) no-repeat;
}
.out .box li:nth-child(4) {
  background: url(../images/bg4.jpg) no-repeat;
}
/* 头部 */
.header {
  width: 100%;
  height: 44px;
  background: rgba(22, 139, 216, 0.5);
  position: fixed;
  z-index: 100;
}
.header .nav {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
}
.header .nav .img {
  height: 100%;
  float: none;
}
.header .nav .logo {
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100px;
  background-position: 8px 8px;
  background-size: 80%;
}
.header .nav .btn,
.header .nav .user-icon {
  display: block;
  height: 100%;
  width: 44px;
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  float: left;
}
.header .nav .user-icon {
  float: right;
}
.header .nav .nav-bar {
  transform: scaleY(0);
  transform-origin: 0 0;
  float: none;
  margin-right: -18px;
  margin-left: -18px;
  padding-bottom: 10px;
  background: #168bd8;
}
.header .nav .nav-bar .nav-left,
.header .nav .nav-bar .nav-right {
  height: 100%;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.header .nav .nav-bar .nav-left li,
.header .nav .nav-bar .nav-right li {
  width: 100%;
}
.header .nav .nav-bar .nav-left li a,
.header .nav .nav-bar .nav-right li a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 14px;
  padding: 8px 24px;
}
.header .nav .nav-bar .nav-right {
  border: 0;
}
.nav-show {
  animation: navShow .6s forwards;
}
.nav-hidden {
  animation: navHidden .6s forwards;
}
.header-login-box {
  width: 100%;
  margin-left: -20px;
  padding: 0 20px;
  position: absolute;
  top: 60px;
  transform: scaleY(0);
  transform-origin: 0 0;
}
.header-login-box .header-login {
  width: 100%;
  background-color: #4EBFFC;
}
.header-login-box .header-login form {
  padding: 26px 20px 0;
  width: 100%;
  height: 100%;
}
.header-login-box .header-login form div {
  margin-bottom: 20px;
}
.header-login-box .header-login form .user,
.header-login-box .header-login form .psw {
  height: 40px;
  background: #fff;
}
.header-login-box .header-login form .token {
  height: 40px;
}
.header-login-box .header-login form .token input {
  border: 0;
  outline: none;
  padding: 9px;
  width: 122px;
  height: 100%;
  background: #fff;
  float: left;
  font-size: 14px;
}
.header-login-box .header-login form .token img {
  margin-left: 10px;
  float: left;
}
.header-login-box .header-login form .token a {
  float: left;
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #fff;
}
.header-login-box .header-login form .login-action {
  height: 86px;
}
.header-login-box .header-login form .login-action input {
  border: 0;
  background: #ffd850;
  color: #5C4C12;
  border-radius: 2px;
  margin-top: 12px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  width: 100%;
  font-family: "microsoft yahei", sans-serif;
}
.header-login-box .header-login form .login-action .other {
  padding: 12px 0 8px;
  box-sizing: content-box;
  font-size: 12px;
}
.header-login-box .header-login form .login-action .other a {
  color: #fff;
}
.header-login-box .header-login form .login-action .other .ol {
  float: left;
}
.header-login-box .header-login form .login-action .other .or {
  float: right;
}
@keyframes navShow {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes navHidden {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
@media screen and (min-width: 1000px) {
  .header {
    height: 60px;
    background: #168BD8;
  }
  .header .nav {
    width: 1000px;
    padding: 0;
  }
  .header .nav .img {
    float: left;
  }
  .header .nav .logo {
    width: 120px;
    background-position: -2px 10px;
    background-size: 100%;
  }
  .header .nav .user-icon {
    display: none;
  }
  .header .nav .btn {
    display: none;
  }
  .header .nav .nav-bar {
    transform: none;
    width: 880px;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
    animation: none;
  }
  .header .nav .nav-bar .nav-left {
    height: 100%;
    float: left;
    padding: 0;
    padding-left: 60px;
    border: none;
  }
  .header .nav .nav-bar .nav-left li {
    width: 100px;
    height: 100%;
    float: left;
  }
  .header .nav .nav-bar .nav-left li a {
    display: block;
    width: 100%;
    padding: 0;
    padding-top: 32px;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  .header .nav .nav-bar .nav-right {
    height: 100%;
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .header .nav .nav-bar .nav-right li {
    float: left;
    width: auto;
    height: 100%;
    padding: 36px 10px 0;
  }
  .header .nav .nav-bar .nav-right li a {
    display: block;
    color: #fff;
    font-size: 12px;
    padding: 0;
  }
  .header-login-box {
    display: none;
  }
}
/* 第一屏 */
.list1 {
  position: relative;
}
.list1 .container {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0 20px;
}
.list1 .container .list1-top-left {
  width: 100%;
  height: 100%;
}
.list1 .container .list1-top-right {
  display: none;
}
.list1 .container .list1-top-left .words {
  float: left;
  position: relative;
  margin-top: 24%;
}
.list1 .container .list1-top-left .words img:nth-child(1) {
  width: 100%;
}
.list1 .container .list1-top-left .words img:nth-child(2) {
  width: 24%;
  position: absolute;
  right: 17%;
  top: -10px;
  animation: feiji 2.5s linear infinite;
}
.list1-bottom {
  width: 100%;
  height: 126px;
  background: #0d71cd;
  position: absolute;
  z-index: 20;
  bottom: 0;
}
.list1-bottom .inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.list1-bottom .inner .hill1 {
  display: none;
}
.list1-bottom .inner .hill2 {
  display: none;
}
.list1-bottom .inner .hill3 {
  display: none;
}
.list1-bottom .inner .ship {
  position: absolute;
  top: -152%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.list1-bottom .inner .next-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: auto;
  animation: next 1s linear infinite;
}
.cloud1 {
  position: absolute;
  width: 200%;
  height: 18%;
  top: 12%;
}
.cloud1 div {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  animation: cloud 35s linear infinite;
}
.cloud1 div img {
  position: absolute;
  width: 9%;
}
.cloud1 div img:nth-child(1) {
  bottom: 0;
  left: 14%;
}
.cloud1 div img:nth-child(2) {
  left: 48%;
}
.cloud1 div img:nth-child(3) {
  right: 14%;
  bottom: 0;
}
.cloud2 {
  position: absolute;
  width: 200%;
  height: 14%;
  top: 36%;
}
.cloud2 div {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  animation: cloud 80s linear infinite;
}
.cloud2 div img {
  position: absolute;
  width: 6%;
  bottom: 0;
  left: 60%;
}
.cloud3 {
  position: absolute;
  width: 200%;
  height: 14%;
  bottom: 20%;
}
.cloud3 div {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  animation: cloud 180s linear infinite;
}
.cloud3 div img {
  position: absolute;
  width: 3%;
  left: 40%;
}
@keyframes cloud {
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 1000px) {
  .list1 .container {
    width: 1000px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
  }
  .list1 .container .list1-top-left,
  .list1 .container .list1-top-right {
    display: block;
    width: 50%;
    height: 100%;
    float: left;
  }
  .list1 .container .list1-top-left .words {
    position: relative;
    margin-top: 22%;
  }
  .list1 .container .list1-top-left .words img:nth-child(2) {
    position: absolute;
    right: 17%;
    top: -10px;
    animation: feiji 2.5s linear infinite;
  }
  .list1-top-right {
    position: relative;
  }
  .list1-top-right .login {
    width: 340px;
    height: 300px;
    margin: 0;
    background-color: #4EBFFC;
    position: absolute;
    bottom: 36%;
    right: 0;
  }
  .list1-top-right .login form {
    padding: 26px 20px 0;
    width: 100%;
    height: 100%;
  }
  .list1-top-right .login form div {
    margin-bottom: 20px;
  }
  .list1-top-right .login form .user,
  .list1-top-right .login form .psw {
    height: 40px;
    background: #fff;
  }
  .list1-top-right .login form .token {
    height: 40px;
  }
  .list1-top-right .login form .token input {
    border: 0;
    outline: none;
    padding: 9px;
    width: 122px;
    height: 100%;
    background: #fff;
    float: left;
    font-size: 14px;
  }
  .list1-top-right .login form .token img {
    margin-left: 10px;
    float: left;
  }
  .list1-top-right .login form .token a {
    float: left;
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #fff;
  }
  .list1-top-right .login form .login-action {
    height: 86px;
  }
  .list1-top-right .login form .login-action input {
    border: 0;
    background: #ffd850;
    color: #5C4C12;
    border-radius: 2px;
    margin-top: 12px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    font-family: "microsoft yahei", sans-serif;
  }
  .list1-top-right .login form .login-action .other {
    padding: 12px 0 8px;
    box-sizing: content-box;
    font-size: 12px;
  }
  .list1-top-right .login form .login-action .other a {
    color: #fff;
  }
  .list1-top-right .login form .login-action .other .ol {
    float: left;
  }
  .list1-top-right .login form .login-action .other .or {
    float: right;
  }
  .list1-bottom .inner {
    width: 1000px;
    margin: 0 auto;
  }
  .list1-bottom .inner .hill1 {
    display: block;
    position: absolute;
    left: -182px;
    top: -50px;
  }
  .list1-bottom .inner .hill2 {
    display: block;
    position: absolute;
    right: 288px;
    top: -13px;
  }
  .list1-bottom .inner .hill3 {
    display: block;
    position: absolute;
    right: -129px;
    top: -47px;
  }
  .list1-bottom .inner .ship {
    position: absolute;
    left: 100px;
    top: -152%;
    margin: 0;
  }
}
.active .ship {
  animation: ship 1s forwards;
}
@keyframes ship {
  100% {
    transform: translateX(26px);
  }
}
@keyframes feiji {
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes next {
  50% {
    transform: translateY(6px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* 第二屏 */
.container {
  width: 100%;
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
}
.list2 .list2-top {
  width: 100%;
  height: 86%;
}
.list2 .list2-bottom {
  width: 100%;
  height: 14%;
  padding: 0 20px;
}
.list2 .list2-bottom .lou1 {
  width: 22%;
  height: 100%;
  float: left;
  position: relative;
}
.list2 .list2-bottom .lou1 img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
}
.list2 .list2-bottom .lou2 {
  width: 14%;
  height: 100%;
  float: right;
  position: relative;
}
.list2 .list2-bottom .lou2 img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
}
.next-btn {
  width: 100%;
  height: 100%;
  text-align: center;
}
.next-btn img {
  margin-top: 3%;
  animation: next 1s linear infinite;
}
.list-top-left,
.list-top-right {
  width: 100%;
}
.list-top-left {
  padding-top: 22%;
  padding-bottom: 10%;
}
.list-top-left .words {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 0;
  transform: translateX(-50px);
  opacity: 0.4;
}
.list-top-left .words img {
  width: 13%;
  display: inline-block;
}
.list-top-left .words .text {
  width: 82%;
  padding-left: 20px;
  display: inline-block;
  text-align: left;
  color: #fff;
}
.list-top-left .words .text h2 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 6px;
}
.list-top-left .words .text p {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
  opacity: .8;
}
.list-top-right {
  padding-top: 22px;
}
.list-top-right img {
  display: block;
  margin: 0 auto;
  width: 88%;
  transform: translateX(50px);
  opacity: 0.4;
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .list-top-left,
  .list-top-right {
    width: 50%;
    height: 100%;
    float: left;
  }
  .list-top-right {
    float: right;
    padding-top: 12%;
  }
  .list-top-left .words .text h2 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
  }
  .list-top-left .words .text p {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: .8;
  }
}
.active .listW {
  animation: listW 1s forwards;
}
.active .listI {
  animation: listI 1s forwards;
}
@keyframes listW {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes listI {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* 第三屏 */
.list3,
.list4 {
  position: relative;
}
.list3-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14%;
  background: url(../images/bg4-head.png) no-repeat;
  background-size: cover;
}
.list3-top {
  width: 100%;
  height: 86%;
}
.list3-top .list-top-left {
  padding-top: 24%;
  padding-bottom: 4%;
  background: url(../images/gezi.png) no-repeat;
  background-size: 76%;
  background-position: 0 24%;
}
.list3-top .list-top-left .words {
  text-align: center;
}
.list3-top .list-top-right {
  padding-top: 22px;
  position: relative;
  height: 50%;
}
.list3-top .list-top-right img {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(50px);
  opacity: 0.4;
}
@media screen and (min-width: 1000px) {
  .list3-bottom {
    height: 20%;
  }
  .list3 .list-top-right,
  .list4 .list-top-right {
    width: 47%;
    height: 100%;
  }
  .list3 .list-top-right img,
  .list4 .list-top-right img {
    width: 96%;
    bottom: 7%;
  }
  .list3 .list-top-left,
  .list4 .list-top-left {
    padding-top: 18%;
    width: 53%;
  }
  .list3 .list-top-left .words,
  .list4 .list-top-left .words {
    text-align: right;
  }
  li.list4 .list4-top .list-top-left {
    padding-top: 18%;
    height: 100%;
    background-size: 50%;
    background-position: 0 40%;
  }
  li.list4 .list4-top .list-top-left .words {
    text-align: right;
  }
  li.list4 .list4-top .list-top-left .words .text {
    width: 76%;
  }
  li.list4 .list4-top .list-top-right {
    position: relative;
  }
  li.list4 .list4-top .list-top-right img {
    width: 132%;
    position: absolute;
    left: -200px;
    top: 28%;
    transform: translateX(50px);
    opacity: 0.4;
  }
}
.list4 .list4-top .list-top-left {
  padding-top: 26%;
  height: 50%;
  background: url(../images/bubble.png) no-repeat;
  background-size: 56%;
  background-position: 0 50%;
}
.list4 .list4-top .list-top-left .words {
  text-align: right;
}
.list4 .list4-top .list-top-left .words .text {
  width: 76%;
}
.list4 .list4-top .list-top-right {
  padding-top: 0;
}
.list4 .list4-top .list-top-right img {
  top: 0;
}
.list4 .list4-bottom {
  width: 100%;
  height: 8%;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 100%;
  color: #fff;
  font-size: 12px;
}
.list4 .list4-bottom a {
  color: #fff;
}
.active .round {
  animation: round 1.5s 1s infinite;
}
@keyframes round {
  100% {
    transform: rotateY(360deg);
  }
}
